.planes-container {
  padding: 40px;
  min-height: 100vh;
}

.planes-light {
  background-color: #fff;
}

.planes-header {
  text-align: center;
  margin-bottom: 20px; 
  padding: 0.8rem; 
}

.planes-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #034a51;
}

.planes-subtitle {
  font-size: 16px;
}

.planes-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; 
}

.plan-card {
  border-radius: 12px;
  width: 280px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #034a51;
  position: relative;
  overflow: hidden;
}

.plan-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(64, 175, 175, 0.611);
  border-color: #084d4d;
}

.plan-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.plan-title::after {
  position: absolute;
  right: 15px;
}

.plan-price {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #000000;
}

.plan-divider {
  border: none;
  border-top: 1px solid #3e3636;
  margin-bottom: 20px;
}


.plan-features {
  list-style: none;
  padding: 0;
  margin: 0 0 24px 0;
}

.plan-features li {
  margin-bottom: 10px;
  padding-left: 14px;
  position: relative;
  color: #00141c;
  font-size: 14px;
}

.plan-features li::before {
  content: "•";
  color: #0b7171;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.plan-button {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  
  background-color: rgb(61, 123, 136); /* azul fuerte */
  color: #fff;
  border: 2px solid #06292f;
}

.plan-button:hover {
  background-color: #4b8c98;
  transform: scale(1.07);
}
