/* Planes.css */
.planes-container {
  padding: 40px;
  min-height: 100vh;
}

.planes-light {
  background-color: #fff;
}

.planes-header {
  text-align: center;
  margin-bottom: 40px;
}
.planes-title {
  font-size: 28px;
  margin-bottom: 10px;
}
.planes-title-light {
  color: #23747b;
}

.planes-subtitle {
  font-size: 16px;
}
.planes-subtitle-light {
  color: #333;
}

.planes-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  
}


.plan-card {
  border-radius: 12px;
  width: 280px;
  padding: 30px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 3px solid #23747b;
  border-top: 46px solid #23747b; 
  border-bottom-right-radius: 12px;
}
.plan-card-light {
  background-color: #ffffff;
  color: #000000;
}

.plan-title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 700;
}
.plan-price {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.plan-divider {
  border: none;
  border-top: 1px solid #3e3636;
  margin-bottom: 20px;
}

.plan-features {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 30px;
}
.plan-features li {
  margin-bottom: 8px;
}
.plan-features-light {
  color: #120a0a;
}

/* Botón */
.plan-button {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.plan-button-light {
  background-color: #b8b7d0;
  color: #333;
}

.plan-button-light:hover {
  background-color: #cfcfcf;
}
.plan-button-dark:hover {
  background-color: #475569;
}
